@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #FF9100;
    --text-color: #302E29;
    --background: #FFFBF6;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

/* ===== HEADER ===== */

header {
    width: 100%;
    padding: 23px 15%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    transition: 0.38s ease;
}

header.sticky {
    background-color: var(--background);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8% );
    padding: 10px 15%; 
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

header nav .logo-header a {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--text-color);
}

header nav .logo-header a span {
    color: var(--main-color);
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 35px;
}

header nav ul li a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.38s ease;
}

header nav ul li a:hover {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

header .icons-header {
    background-color: var(--main-color);
    padding: 10px 22px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5rem;
}

header .icons-header i {
    color: var(--background);
    font-size: 23px;
    cursor: pointer;
}

header .icons-header #menu-icon {
    z-index: 10001;
    display: none;
}

/* ==== ALL SECTIONS ==== */

section {
    padding: 80px 15%;
}

/* ===== HOME SECTION ===== */  

section.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section.home .home-content h1 {
    color: var(--text-color);
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

section.home .home-content h1 span {
    color: var(--main-color);
}

section.home .home-content p {
    color: #858585;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 1rem;
}

section.home .home-content a {
    display: inline-block;
    padding: 14px 26px;
    background-color: var(--main-color);
    color: var(--background);
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.38s ease;
}

section.home .home-content a:hover {
    letter-spacing: 1px;
}

section.home .home-image img {
    width: 100%;
}

/* ===== BREAKFAST SECTION ===== */

section.breakfast .content h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

section.breakfast .content span {
    color: #858585;
    font-size: 1.1rem;
    font-weight: 500;
}

section.breakfast .breakfast-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

section.breakfast .breakfast-card .card {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: var(--background);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0;
    gap: 10px;
    transition: all 0.38s ease;
}

section.breakfast .breakfast-card .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

section.breakfast .breakfast-card .card img {
    max-width: 80px;
    width: 100%;
    height: auto;
}

/* ===== ABOUT SECTION ===== */

section.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section.about .about-img img {
    width: 100%;
}

section.about .about-content h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: var(--text-color);
}

section.about .about-content p {
    color: #858585;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 1rem;
}

section.about .about-content a {
    display: inline-block;
    padding: 14px 26px;
    background-color: var(--main-color);
    color: var(--background);
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.38s ease;
}

section.about .about-content a:hover {
    letter-spacing: 1px;
}

/* ===== MENU SECTION ===== */

section.menu .menu-content h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    text-transform: capitalize; 
    color: var(--text-color);
}

section.menu .menu-content p {
    color: #858585;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 32px;
}

section.menu .menu-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

section.menu .menu-row .row {
    transition: all 0.38s ease;
}

section.menu .menu-row .row:hover {
    transform: scale(1.1);
    cursor: pointer;
}

section.menu .menu-row .row img {
    width: 100%;
    border-radius: 10px;
}

section.menu .menu-row .row .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

section.menu .menu-row .row .price h4 {
    font-size: 1.48rem;
    color: var(--text-color);
}

section.menu .menu-row .row .price span {
    font-size: 1.48rem;
    font-weight: 700;
    color: var(--main-color);
}

section.menu .menu-row .row p {
    color: #858585;
    font-size: 0.98rem;
    font-weight: 400;
    line-height: 30px;
}

section.menu .menu-row .row .star {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

section.menu .menu-row .row .star i {
    color: var(--main-color);
    font-size: 1rem;
}

/* ===== CONTACT SECTION ===== */

section.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

section.contact .contact-content h4 {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

section.contact .contact-content li {
    margin: 1rem 0;
}

section.contact .contact-content li a {
    color: var(--text-color);
    font-size: 0.98rem;
    font-weight: 500;
}

/* ===== FOOTER ===== */

footer .footer-content {
    padding: 25px;
    text-align: center;
}

footer .footer-content p {
    color: var(--text-color);
    font-size: 0.98rem;
    letter-spacing: 1px;
}

/* ===== SCROLL ARROW ===== */

.scroll-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scroll-arrow i {
    font-size: 1.6rem;
    color: var(--background);
}